{% extends "layout.html" %}

{% block content %}

    <div>
        <div id="report_wrapper">
            <div id="chart-wrapper">
                <canvas id="typesChart"></canvas>
                <script src="/od-bot/static/Chart.min.js"></script>
                <script src="/od-bot/static/js/report.js"></script>
            </div>

            <table id="info-table">
                <tr>
                    <th>Base url</th>
                    <td id="baseUrl"></td>
                </tr>

                <tr>
                    <th>File count</th>
                    <td id="fileCount"></td>
                </tr>

                <tr>
                    <th>Total size</th>
                    <td id="totalSize"></td>
                </tr>

                <tr>
                    <th>Report time</th>
                    <td id="reportTime"></td>
                </tr>
            </table>
        </div>
    </div>



{% endblock content %}